<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".base.BinaBolaApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BinaBola"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDsDm124BekXt6wMXtAK2YhnHPdgVtzQp0"
        />

        <activity
            android:name=".presentation.exercise.TrackRunActivity"
            android:exported="false"
            android:label="@string/title_activity_track_run" />
        <activity
            android:name=".presentation.foodscan.FoodScanActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.strenghexercise.StrenghExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.predictfood.PredictFoodActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.exercise.DetailExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.onboarding.Onboarding3Activity"
            android:exported="false" />
        <activity
            android:name=".presentation.onboarding.Onboarding2Activity"
            android:exported="false" />
        <activity
            android:name=".presentation.onboarding.Onboarding1Activity"
            android:exported="false" />
        <activity
            android:name=".presentation.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>